.panel{
    min-height: 420px;
    width: 96.5%;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}
.panels{
    background: #fffffff6;
    min-height: 420px;
    width: 96.5%;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}

table{
	border-spacing:1;
	border-collapse:collapse;
	background:#fff;
	border-radius:10px;
	overflow:hidden;
	width:100%;
	margin:0 auto;
	position:relative
}

table td,table th{
	padding-left:8px;
}

table thead tr{
	height:60px;
	background:#002E4B;
}

table tbody tr{
	height:50px
}

table tbody tr:last-child{
	border:0
}

table td,table th{
	text-align:left
}

table td.l,table th.l{
	text-align:right
}

table td.c,table th.c{
	text-align:center
}

table td.r,table th.r{
	text-align:center
}

.table-head th{
	font-family:OpenSans-Regular;
	font-size:18px;
	color:#fff;
	line-height:1.2;
	font-weight:unset
}

tbody tr:nth-child(even){
	background-color:#bcd4e3
}

tbody tr{
	font-family:OpenSans-Regular;
	font-size:15px;
	color:gray;
	line-height:1.2;
	font-weight:unset
}

tbody tr:hover{
	color:#555;
	background-color:#bcd4e3;
	cursor:pointer
}

.col-ID{
	width:50px;
	text-align: center;
}

.col-Nom{
	width:150px
}

.col-Comp{
	width:250px
}

.col-Est{
	width:80px;
}

.col-Cant{
	width:50px;
	text-align:center;
}

.col-Matri{
	width:80px;
}

.col-HPrestamo{
	width:80px;
	text-align:center;
}

.col-FPrestamo{
	width:80px;
	text-align:center;
}

.col-HEntrega{
	width:80px;
	text-align:center;
}

.col-FEntrega{
	width:80px;
	text-align:center;
}
